// Place all the styles related to the TeamMembership controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_team_membership {
	td {
		input.iv_input {
			width: 40px;
		}
	}
	table {
		table-layout: fixed;
		.ev_value {
			text-align: center;
		}
	}
}